.itemCard{
    max-width: 100%;
    border: 3px solid white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    justify-content: space-between;

}

.itemCard:hover > .imageDiv {
    transform: scale(1.1);
}

.dummyCard{
    composes: itemCard;
    width: 100%;
}
.dummyCard *{
    color: rgba(255, 255, 255, 0)
}


.infoDiv{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.infoDiv > p {
    font-size: smaller;
    margin: 13px;
}

.itemTitle {
    max-height: 58px;
    font-size: large;
}

.imageDiv {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%; 
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.imageDiv img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 60%;
}

.imgPlaceholder{
    visibility: hidden;
}