.itemCard{
    width: 100%;
    border: 3px solid white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    color: #242424;
    justify-content: space-between;
}

.imageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%; 
}

.infoDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    
}

.infoDiv > p {
    font-size: smaller;
    margin: 13px;
    overflow-y: none;
}

.itemTitle {
    max-height: 58px;
    font-size: large;
}

img {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60%;
}