.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.156) 0px 3px 8px;
    
}

.nav a {
    color: rgb(108, 108, 108);
    padding: 10px;
}