.shoppingPageContent {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0px;
}

.header > p {
    align-self: flex-end;
}