.shoppingPageContent {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0px;
}

.header > span {
    align-self: flex-end;
    padding: 5px;
    width: 45%;
}

.welcome{
    display: grid;
    grid-template-rows: 1fr 20px;
}

form *{
    margin: 2px;
}


